<a href="https://colab.research.google.com/github/Lgvalia/Real-Estate-web-scraping/blob/main/Real_Estate_Soup_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

# NBG

In [ ]:
nbg_url= 'https://nbg.gov.ge/monetary-policy/currency'
nbg_page = requests.get(nbg_url)
nbg_soup = BeautifulSoup(nbg_page.content,'html.parser')

rates = nbg_soup.find_all('span',{'text-body1 font-normal font-md leading-body1 text-grey-800'})

usd_rate = float(rates[-6].get_text())

# Anagi

In [ ]:
df = pd.DataFrame(columns=['flat_no','project_name','block_no','floor','area','room_count','total_price'])

for x in range(5):
  url = 'https://ad.ge/ka/results/any/0/0/any/any/{}'.format(x+1)

  page = requests.get(url)
  soup = BeautifulSoup(page.content,'html.parser')

  results_container = soup.find('div',{'class':'results-container'})

  flats = list(results_container.find_all('h2'))
  all = list(results_container.find_all('a'))

  room_count = x+1

  for i,x in zip(flats,range(len(all))):
    try:
      project_name = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[0].get_text()
      block = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[1].get_text()
      floor = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[2].get_text()
      area = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[3].get_text()
      price = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[4].get_text()
      flat_no = i.get_text()

      df = df.append({'flat_no':flat_no,'project_name':project_name,'block_no':block,'floor':floor,'area':area,'room_count':room_count,'total_price':price},ignore_index=True)
      #print(project_name,'; block: ',block,'; floor:',floor,'; area:',area,'; price:',price)
    except:
      pass

df['total_price'] = pd.to_numeric(df['total_price'].str[:-2].str.replace('.',''))
df['area'] = pd.to_numeric(df['area'].str[:-2])

df['sqr_m_price'] = df['total_price']/df['area']

In [ ]:
df['total_price_usd'] = df['total_price']/usd_rate
df['sqr_m_price_usd'] = df['sqr_m_price']/usd_rate

In [ ]:
df.head()

     flat_no    project_name  ... total_price_usd sqr_m_price_usd
0   ბინა 806  სი ჰოუმ ბათუმი  ...    70078.953233     1430.182719
1  ბინა 1106  სი ჰოუმ ბათუმი  ...    71990.067174     1469.185044
2  ბინა 1306  სი ჰოუმ ბათუმი  ...    73265.098214     1495.206086
3  ბინა 1406  სი ჰოუმ ბათუმი  ...    73902.136194     1508.206861
4  ბინა 1506  სი ჰოუმ ბათუმი  ...    74538.855815     1521.201139

[5 rows x 10 columns]

In [ ]:
df.to_excel('/content/drive/MyDrive/GreenHill/Web Scraping/Anagi.xlsx')

In [ ]:
projects = df['project_name'].unique().tolist()
for x in projects:
  print(x)
  print(df[df['project_name']==x][['area','total_price_usd','sqr_m_price_usd']].describe())

სი ჰოუმ ბათუმი
            area  total_price_usd  sqr_m_price_usd
count  50.000000        50.000000        50.000000
mean   50.716000     92285.244023      1831.829993
std     4.157381     10450.250255       261.619609
min    42.500000     70078.953233      1430.182719
25%    46.000000     85200.885040      1607.563869
50%    53.000000     94128.967559      1771.959368
75%    53.000000     99598.468689      2038.302146
max    56.500000    109073.891312      2336.235343
პარკ ჰოუმ საბურთალო
             area  total_price_usd  sqr_m_price_usd
count  111.000000       111.000000       111.000000
mean    77.794595    122996.583225      1580.441629
std     33.666311     54025.990221        60.648431
min     42.600000     61485.148515      1443.294406
25%     46.300000     73188.373500      1539.507298
50%     80.400000    124635.955557      1587.597746
75%     99.800000    159881.570151      1625.102266
max    142.200000    242479.067842      1705.197383
პარკ ჰოუმ ვაკე
             area  total_price_usd  sqr_m_price_usd
count   27.000000        27.000000        27.000000
mean   114.833333    215348.008541      1859.612149
std     41.218760     84970.715682        76.059764
min     75.600000    138152.876381      1724.999721
25%     77.700000    145881.060775      1817.198931
50%     94.800000    178129.954475      1855.007335
75%    127.350000    229754.067047      1902.500520
max    198.000000    391049.950654      1975.101972

# Gardens

In [ ]:
url_gardens = 'https://tbilisigardens.ge/bina#6'
page_gardens = requests.get(url_gardens)

soup_gardens =  BeautifulSoup(page_gardens.content,'html.parser')
view_container_gardens = soup_gardens.find('div',{'id':'view-container'})
print(view_container_gardens.prettify())
select_floor = soup_gardens.find({'id':'same-type-on-other-floor-selector'})
print(select_floor)

<div id="view-container">
 <div class="view" minus-header-height="" ng-class="{'scrollable' : scrollBarHandler.isScrollable}" ng-view="">
 </div>
</div>

None

In [ ]:
df = pd.DataFrame(columns=['flat_no','project_name','block_no','floor','area','room_count','total_price'])

for x in range(5):
  url = 'https://ad.ge/ka/results/any/0/0/any/any/{}'.format(x+1)

  page = requests.get(url)
  soup = BeautifulSoup(page.content,'html.parser')

  results_container = soup.find('div',{'class':'results-container'})

  flats = list(results_container.find_all('h2'))
  all = list(results_container.find_all('a'))

  room_count = x+1

  for i,x in zip(flats,range(len(all))):
    try:
      project_name = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[0].get_text()
      block = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[1].get_text()
      floor = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[2].get_text()
      area = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[3].get_text()
      price = results_container.find_all('a')[x].find_all('span',{'class':'bold'})[4].get_text()
      flat_no = i.get_text()

      df = df.append({'flat_no':flat_no,'project_name':project_name,'block_no':block,'floor':floor,'area':area,'room_count':room_count,'total_price':price},ignore_index=True)
      #print(project_name,'; block: ',block,'; floor:',floor,'; area:',area,'; price:',price)
    except:
      pass

df['total_price'] = pd.to_numeric(df['total_price'].str[:-2].str.replace('.',''))
df['area'] = pd.to_numeric(df['area'].str[:-2])

df['sqr_m_price'] = df['total_price']/df['area']